<!DOCTYPE html>
<html>
<head>
   <title>Restaurants</title>

<body>
    <h2>Search for Restaurant</h2>
    <form action="#" th:action="@{/order}" th:object="${order}" method = "post">
  
    Restaurant Name: <input type="text" th:field="*{restaurantName}" /> <br/>
        <!-- If validation fails, error is printed in this span -->
        <span th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}"> </span>  <br/>
   
        <input type="submit" value="Submit" />
    </form>
</body>
</html>