body {
  max-width: 500px;
  margin: auto;
  background: grey;
  padding: 10px;
}
h1 {
  color: blue;
  font-family: courier
}

h2 {
  color: blue;
  font-family: verdana;
  font-size: 200%;
}
p  {
  color: blue;
  font-family: courier;
  font-size: 400%;
}