<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Confirmed</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

 <div class="center">
    <h2>Order Confirmation.<h2>
    
    <p th:inline="text">Your order from [[${orderName}]] will be [[${items}]] at a price of [[${price}]]
    ready soon.</p>
    
     <h2>Please Click to take our survey!<h2>

	<p>How was your experience?<p>
 <form action="#" th:action="@{/order/survey}" method="post">
 	  <input type="radio" th:value="Good" th:name="level">
      <label for="luxury">Good</label><br />
      
      <input type="radio" th:value="Fair" th:name="level">
      <label for="very good">Fair</label><br />
      
      <input type="radio" th:value="Bad" th:name="level">
      <label for="good">Bad</label><br />
   <input type="submit" value="Submit" th:name="submit"/> 
   </form>
    
</div>
</body>
</html>

