<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

 
<img src="../static/images/logo.jpg" class="centerpic" width="1000" th:src="@{images/logo.jpg}"/>

 <div class="center">
    <h2>Search for Restaurant</h2>
    <form action="#" th:action="@{/order}" method = "post">   
    <p>Restaurant Name<p>   
    <input type="text" name="rName"/> <br>
    <br><input type="submit" value="Submit"  />
    </form>
</div>

</body>
</html>
